body {
	background-color: grey;
	color: red;
	text-align: center;
}

#container {
	background-color: #EEE;
	width: 400;
	margin-left: auto;
	margin-right: auto;
}

#content {
	padding: 10px;
}

#header {
	background-color: black;
}

#footer {
	background-color: black;
}
